{% liquid
  assign class = 'add-to-cart-button ' | append: block.settings.style_class
  assign id = 'BuyButtons-ProductSubmitButton-' | append: block.id
  assign text_to_show = add_to_cart_text
  if block.settings.custom_add_to_cart_text != blank and can_add_to_cart
    assign text_to_show = block.settings.custom_add_to_cart_text
  endif
%}

<span
  {{ block.shopify_attributes }}
  style="--add-to-cart-font-case: {{ settings.button_text_case }};"
>
  {% render 'add-to-cart-button',
    id: id,
    class: class,
    can_add_to_cart: can_add_to_cart,
    product: closest.product,
    add_to_cart_text: text_to_show
  %}
</span>

{% schema %}
{
  "name": "t:names.add_to_cart",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Button Customization"
    },
    {
      "type": "text",
      "id": "custom_add_to_cart_text",
      "label": "Custom Button Text",
      "info": "Leave empty to use default 'Add to cart'. Only applies when item is available."
    },
    {
      "type": "select",
      "id": "style_class",
      "label": "t:settings.style",
      "options": [
        {
          "value": "button",
          "label": "t:options.primary"
        },
        {
          "value": "button-secondary",
          "label": "t:options.secondary"
        }
      ],
      "default": "button-secondary"
    }
  ]
}
{% endschema %}
